body {
  background: #6b7280;
}
.generator-container {
    font-family: 'Arial', sans-serif;
    color: #121212;
    padding: 2rem;
    border-radius: 12px;
    background: #e5f0ff;
  }
  
  h2 {
    text-align: center;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  
  .output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .1rem;
  }
  
  .output {
    text-align: center;
    font-size: 16px;
    color: #121212;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: .1rem;
    border: 1px solid #909090;
    border-radius: 7px;
    background-color: white;
  }
  
  button {
    padding: .75rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin: .5rem;
  }
  
  button:hover {
    background-color: #2563eb;
  }
  
  button.copy-btn {
    background-color: transparent;
    color: #1e40af;
    border: none;
    cursor: pointer;
  }
  
  button.copy-btn:hover {
    color: #34d399;
  }
  
  .strength {
    text-align: center;
    margin-top: 10px;
  }
  
  .strength-meter {
    width: 100%;
    height: 8px;
    background-color: #ccc;
    margin-top: 5px;
    border-radius: 4px;
  }
  
  .strength-meter .meter {
    height: 100%;
    border-radius: 4px;
  }
  
  .strength.weak .meter {
    width: 33%;
    background-color: red;
  }
  
  .strength.medium .meter {
    width: 66%;
    background-color: orange;
  }
  
  .strength.strong .meter {
    width: 100%;
    background-color: green;
  }
  
  /* Light/Dark Mode Toggle Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #494949;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Dark mode styling */
  .generator-container.dark {
    background-color: #202020;
    color: white;
  }
  
  .generator-container.dark .output {
    background-color: #333;
    color: white;
  }
  
  .generator-container.dark .controls button {
    background-color: #1e3a8a;
  }
  
  .generator-container.dark .controls button:hover {
    background-color: #2563eb;
  }